<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.scheduleMapper">
<!--MyBatisのXMLマッパファイルでネームスペースを指定  -->

	 <select id="getSchedule" parameterType="entity.Cha_schedule$DateToday" resultType="entity.Cha_schedule">
		select * from cha_schedule where id=#{id} 
		AND schedule_date BETWEEN #{startOfWeek} AND #{endOfWeek}
	</select> <!--cha_scheduleからstartOfWeekとendOfWeekの間の日付の中でidを検索して結果を出力 -->

	<select id="getScheduleNum" resultType="Integer">
	select max(schedule_id) from cha_schedule
	</select><!-- cha_scheduleから最も大きいschedule_idの値を出力 -->
	
	<insert id="inputSchedule" parameterType="entity.Cha_schedule">
		insert into cha_schedule 
		  values(#{schedule_id},#{id},#{schedule_name},#{schedule_date},
		  #{schedule_start},#{schedule_end})
	</insert><!-- cha_scheduleからentity.Cha_scheduleの値を入力する-->
	
	<select id="findSchedule" parameterType="Integer" resultType="entity.Cha_schedule">
		select * from cha_schedule where schedule_id=#{schedule_id}
	</select><!--cha_scheduleからschedule_idに対応するスケジュールを出力 -->
	
	<update id="modifySchedule" parameterType="entity.Cha_schedule">
		update cha_schedule set schedule_name = #{schedule_name} , schedule_date=#{schedule_date},
		schedule_start=#{schedule_start},schedule_end=#{schedule_end} where schedule_id=#{schedule_id}
	</update><!-- cha_scheduleからスケジュールの値をentity.Cha_scheduleの値で変更-->
	
	<delete id="deleteSchedule" parameterType="Integer">
		delete from cha_schedule where schedule_id = #{schedule_id}
	</delete><!-- cha_scheduleからschedule_idに対応するスケジュールを削除するクエリ -->
</mapper>
